__pycache__/
asdasd.py
comparacion de cadenas.py
eje1.py
eje2.py
eje3.py
eje4.py
eje5.py
eje6.py
eje7.py
ejercicio1.py
ejercicio1poo.py
ejercicio2.py
ejercicio2poo.py
ejercicio3.py
ejercicio3poo.py
ejercicio4.py
ejercicio4poo.py
ejercicio5poo.py
fibonacci.py
funciones1.py
funciones2.py
guipruebas.py
import1.py
import2.py
lista1.py
lista2.py
lista3.py
lista4.py
lista5.py
lista6.py
lista7.py
lista8.py
math.py
prueba.py
venv/
